services:
  mongodb:
    image: mongo:latest
    container_name: mongodb
    hostname: mongodb
    volumes:
      - ./mongodb/initdb.d/:/docker-entrypoint-initdb.d/
      - ./volumes/mongodb-data:/data/db/
      - ./volumes/mongodb-log:/var/log/mongodb/
    env_file:
      - .env
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_INITDB_ROOT_USERNAME}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_INITDB_ROOT_PASSWORD}
    ports:
      - "27017:27017"
    networks:
      - mongodb_network

  nest-app:
      build:
        context: .
        dockerfile: Dockerfile
      image: nest-app
      volumes:
        - .:/app
      ports:
        - "3000:3000"
      depends_on:
        - mongodb

volumes:
  mongodb-data:
    driver: local
    name: mongo-data
  mongodb-log:
    driver: local
    name: mongo-log

networks:
  mongodb_network:
    name: poker-api-network
    driver: bridge
